[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
tensorflow = "*"
jupyterlab = "*"
kaggle = "*"
black = "*"
keras = "*"
scikit-learn = "*"
torch = "*"
tensorflow-addons = "*"

[dev-packages]

[requires]
python_version = "3.9"
